a {
  grid-template: "a b" 1fr "c d" 2fr / 1fr 2fr;
  font: bold 12px/1.5 "Helvetica Neue", sans-serif;
  transition: all .3s cubic-bezier(.25,.8,.25,1);
  background: linear-gradient(to right, rgba(0,0,0,.5) 0%, #fff 100%);
  content: "a\"b";
  content: 'a\'b';
  width: calc(100% - (2 * var(--x)));
}
